# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore NetBeans IDE config directory
nbproject

# Ignore gradle directory with the gradle wrapper files
# NOTE: This will require students to build with local install, or to create their own wrapper
gradle
gradlew
gradlew.bat
